body {
    /* Set the Orange Theme Colors */
    --PRIMARY-COLOR-100: #fff5f4;
    --PRIMARY-COLOR-300: #ffdddd;
    --PRIMARY-COLOR-500: #ef743e;
    --PRIMARY-COLOR-700: #b43a00;
    --PRIMARY-COLOR-900: #4e1b00;
}
