:root{
    /* Set the Orange Theme Colors */
    --PRIMARY-COLOR-100: #FFF7ED;
    --PRIMARY-COLOR-300: #FFE0B9;
    --PRIMARY-COLOR-500: #F7941D;
    --PRIMARY-COLOR-700: #C66C00;
    --PRIMARY-COLOR-900: #583000;
}
