body {
    /* Set the Blue Theme Colors */
    --PRIMARY-COLOR-100: #dcf6ff;
    --PRIMARY-COLOR-300: #a8e9ff;
    --PRIMARY-COLOR-500: #0c9add;
    --PRIMARY-COLOR-700: #006fc4;
    --PRIMARY-COLOR-900: #004585;
}
