@charset "UTF-8";

@import "perfect-scrollbar.min.css";

:root {
	--sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	--serif: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif;

	/* Set the Primary Colors */
    --PRIMARY-COLOR-100: #e8f4f8;
    --PRIMARY-COLOR-300: #c6e3ee;
    --PRIMARY-COLOR-500: #81bad0;
    --PRIMARY-COLOR-700: #487B99;
    --PRIMARY-COLOR-900: #254050;
}

.fa svg, .fab svg, .fal svg, .far svg, .fas svg, .inline-svg svg {
	display: inline-block;
	height: 1em;
	line-height: 1;
	margin-bottom: -.15em;
}

.fa-fw svg {
	width: 1.25em;
	text-align: center;
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

body {
    background: #fff;
    color: #000;
	font-family: var(--sans-serif);
	margin: 0;
	padding: 0;
}

a {
    color: var(--PRIMARY-COLOR-700);
	text-decoration: none;
}

a:hover {
    color: var(--PRIMARY-COLOR-500);
}

#body {
	min-height: 100vh;
}

#body a.highlight, #body a.highlight:hover, #body a.highlight:focus {
    text-decoration: none;
    outline: none;
    outline: 0;
}

#body a.highlight {
    display: inline-block;
}

#body a.highlight:after {
    display: block;
    content: "";
    height: .1em;
    width: 0%;
    background-color: currentColor !important;
    -webkit-transition: width 0.25s ease-out;
    -moz-transition: width 0.25s ease-out;
    -ms-transition: width 0.25s ease-out;
    transition: width 0.25s ease-out;
}

#body a.highlight:hover:after, #body a.highlight:focus:after {
    width: 100%;
}

.bg {
    background: #fff;
    border: 1px solid #eaeaea;
}
b, strong, label, th {
    font-weight: 600;
}
.default-animation, #header #logo-svg, #header #logo-svg path, #sidebar, #sidebar ul, #body, #body .padding, #body .nav {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

fieldset {
    border: 1px solid #ddd;
}
textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
}
textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4;
}
textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #00bdf3;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.06),0 0 5px rgba(0,169,218,.7)
}

#header-wrapper {
	background: var(--PRIMARY-COLOR-500);
    color: var(--PRIMARY-COLOR-700);
    text-align: center;
    padding: .5rem;
	border: none;
	z-index: 5;
	position: relative;
}

#header #logo {
	display: flex;
	align-items: center;
}

#header span {
	font-weight: 900;
	color: white;
	font-size: 24px;
	margin: 0 .25em;
	letter-spacing: .04em;
	text-rendering: optimizeLegibility;
}

#header #logo-svg path {
    fill: #fff;
}

#sidebar {
    background-color: var(--PRIMARY-COLOR-100);
    position: fixed;
    top: 0;
    width: 300px;
    bottom: 0;
    left: 0;
    font-size: 15px;
}

	#sidebar .highlightable {
		height: 100%;
	}

	#sidebar a {
	    color: var(--PRIMARY-COLOR-900);
	}

	#sidebar a:hover {
	    color: var(--PRIMARY-COLOR-700);
	}

	#sidebar a.subtitle {
	    color: rgba(204, 204, 204, 0.6);
	}

	#sidebar hr {
	    border-bottom: 2px solid var(--PRIMARY-COLOR-300);
	}

	#sidebar a.padding {
	    padding: 0 1rem;
	}
	#sidebar h5 {
	    margin: 2rem 0 0;
	    position: relative;
	    line-height: 2;
	}
	#sidebar h5 a {
	    display: block;
	    margin-left: 0;
	    margin-right: 0;
	    padding-left: 1rem;
	    padding-right: 1rem;
	}
	#sidebar h5 i {
	    color: rgba(204, 204, 204, 0.6);
	    position: absolute;
	    right: 0.6rem;
	    top: 0.7rem;
	    font-size: 80%;
	}
	#sidebar h5.parent a {
	    background: #201b24;
	    color: #d9d9d9 !important;
	}
	#sidebar h5.active a {
	    background: #fff;
	    color: #777 !important;
	}
	#sidebar h5.active i {
	    color: #777 !important;
	}
	#sidebar h5 + ul.topics {
	    display: none;
	    margin-top: 0;
	}
	#sidebar h5.parent + ul.topics, #sidebar h5.active + ul.topics {
	    display: block;
	}

	#sidebar ul {
	    list-style: none;
	    padding: 1rem 0;
	    margin: 0;
	}

	#sidebar ul ul {
		padding: 0;
	}
	#sidebar ul.searched a {
	    color: #999999;
	}
	#sidebar ul.searched .search-match a {
	    color: #e6e6e6;
	}
	#sidebar ul.searched .search-match a:hover {
	    color: white;
	}
	#sidebar ul.topics {
	    margin: 0;
		position: relative;
		line-height: 1.2;
	}
	#sidebar ul.topics.searched ul {
	    display: block;
	}
	#sidebar ul.topics ul {
	    display: none;
	}
	#sidebar ul.topics ul ul {
	    padding-bottom: 0;
	}
	#sidebar ul.topics li.parent ul,
	#sidebar ul.topics > li.active ul {
	    display: block;
	}

	#sidebar ul.topics > li > a {
	    font-size: 1.1em;
		font-weight: 700;
	}
	#sidebar ul.topics > li > a b {
	    font-weight: inherit;
	}

	#sidebar ul.topics > li.parent,
	#sidebar ul.topics > li.active {
		background: var(--PRIMARY-COLOR-100);
	}
	#sidebar ul li.active > a {
		background: var(--PRIMARY-COLOR-100);
	    font-weight: 900;
	    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
	}

	#sidebar ul li {
	    padding: 0;
	}
	#sidebar ul li.visited + span {
	    margin-right: 16px;
	}
	#sidebar ul li a {
	    display: block;
		padding: .5rem 1.5rem;
	}

	#sidebar ul li a span {
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	    display: block;
	}
	#sidebar ul li > a {
	    padding: .6em 3rem;
		position: relative;
	}

	#sidebar ul.topics:after {
		display:block;
		width: 2px;
		border-left: 2px dashed var(--PRIMARY-COLOR-300);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 1.5rem;
		content: '';
		z-index: 1;
	}

	#sidebar .read-icon {
		display:none;
	}

	#sidebar ul li.visited > a .read-icon {
	    color: #9c6fb6;
	    display: block;
		position: absolute;
		top: 50%;
		width: 1.5rem;
	    height: 1.5rem;
	    line-height: 1.5rem;
	    text-align: center;
	    font-size: .75em;
		color: var(--PRIMARY-COLOR-500);
		left: calc(1.5rem + 1px);
		transform: translate(-50%, -50%);
		z-index: 2;
		background-color: var(--PRIMARY-COLOR-300);
		border-radius: 100px;
	}

	#sidebar ul li li {
		margin-left: 2rem;
		position: relative;
	}

	#sidebar ul li li a {
		padding-left: 2.5rem;
	}

	#sidebar ul li li a .read-icon {
		background: none !important;
	}

	#sidebar ul li li a:after {
		display: none;
	}

#main {
    background: #f7f7f7;
    margin: 0 0 1.563rem 0;
}
#body {
    position: relative;
    margin-left: 300px;
	z-index: 1000;
	background: white;
}

#body img, #body .video-container {
    margin: 3rem auto;
    display: block;
    text-align: center;
}
#body img.border, #body .video-container.border {
    border: 2px solid #e6e6e6 !important;
    padding: 2px;
}
#body img.shadow, #body .video-container.shadow {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
#body img.inline {
    display: inline !important;
    margin: 0 !important;
    vertical-align: bottom;
}
#body .bordered {
    border: 1px solid #ccc;
}

#body .padding {
    padding: 3rem 4rem;
	box-shadow: 0px 0px 50px 0px rgba(0,0,40,.3);
	min-height: 100vh;
	position: relative;
	overflow: visible;
}

.entry-footer {
	margin-top: 1.5rem;
	padding: 1.5rem 0;
	border-top: 2px solid var(--PRIMARY-COLOR-100);
	font-size: .8em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.entry-footer a {
		color: var(--PRIMARY-COLOR-900);
		opacity: .8;
	}

	.entry-footer a:hover {
		opacity: 1;
	}

	.entry-footer a span {
		margin:0 .25em;
	}

@media only all and (max-width: 59.938em) {
    #body .padding {
        position: static;
        padding: 0;
    }
}
@media only all and (max-width: 47.938em) {
    #body .padding {
        padding: 0;
    }
}
#body h1 + hr {
    margin-top: -1.7rem;
    margin-bottom: 3rem;
}

#body-inner {
	padding:1.5rem;
}

	.entry-title {
		margin: 4vw auto;
	}

	.type-wrap {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}

	.type-wrap li {
		position: relative;
	}

	.type-wrap li + li{
		margin-top: .5em;
	}

	li > span.inline-svg {
		position: absolute;
	    left: -1.5em;
	    background: white;
	}

	li > input[type="checkbox"]{
		position: absolute;
		left: -2.5em;
		height: 2em;
		width: 2em;
		background: white;
	}

	img {
		max-width: 100%;
		height: auto;
	}

#chapter {
	padding: 4vw 1rem;
	max-width: 600px;
	margin: 0 auto;
}

	#chapter #body-inner {
		padding: 0;
	}

#chapter h3 {
    text-align: center;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--PRIMARY-COLOR-700);
	margin: 0 auto;
}

#chapter h1 {
    font-size: 3.6rem;
    border-bottom: 4px dashed var(--PRIMARY-COLOR-100);
	padding: 0 0 .5em;
	margin: .25em auto .5em;
	color: var(--PRIMARY-COLOR-900);
}

#checkpoint .icon-checkered-flag {
	width: 100%;
    height: 2em;
    margin: 1em auto;
    text-align: center;
	position: relative;
}

	#checkpoint .icon-checkered-flag:after {
		border-bottom: 4px dashed var(--PRIMARY-COLOR-300);
		height: 4px;
		width: 80%;
		content: '';
		position: absolute;
		top: calc(50% - 2px);
		left: 10%;
	}

	#checkpoint .type-wrap ul {
		margin: 1em auto 2em;
		list-style: none;
		line-height: 1.2;
	}

	#checkpoint .type-wrap li + li {
		margin-top: 1.2em;
	}

	.disabled {
		filter: grayscale(100%) !important;
		cursor: not-allowed !important;
		opacity: .6 !important;
	}


@media only all and (min-width: 48em) and (max-width: 59.938em) {
    #chapter h1 {
        font-size: 3rem;
    }
}

@media only all and (max-width: 47.938em) {
    #chapter h1 {
        font-size: 2.6rem;
    }
}

#chapter p {
    text-align: center;
    font-size: 1.2rem;
}
#footer {
    padding: 3rem 1rem;
    color: #b3b3b3;
    font-size: 13px;
}

.entry-nav {
	margin: 4vw auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

	.entry-nav.chapter-nav {
		justify-content: space-around;
	}

	.entry-nav .btn {
		padding: .5em 1.25em;
	}

	.entry-nav .btn.nav-prev {
		padding-left: .75em;
	}

	.entry-nav .btn.nav-next {
		padding-right: .75em;
	}

body {
    font-family:var(--sans-serif);
	color:var(--dark-grey);
    line-height: 1.444;
    font-size:calc(14px + .5vw);
}
h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    font-weight: 800;
	line-height: 1.1;
}

h1 {
    text-align: center;
}

blockquote {
    border-left: .25rem dashed var(--PRIMARY-COLOR-300);
	padding-left: 1.5rem;
	margin-left: 1.25rem;
	font-family: var(--serif);
}

blockquote cite {
    display: block;
    text-align: right;
    opacity: .7;
    font-size: .8em;
}
div.notices {
    margin: 2rem 0;
    position: relative;
}
div.notices p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
}
div.notices p:first-child:before {
    position: absolute;
    top: 2px;
    color: #fff;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f06a";
    left: 10px;
}
div.notices p:first-child:after {
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
}
div.notices.info p {
    border-top: 30px solid #F0B37E;
    background: #FFF2DB;
}
div.notices.info p:first-child:after {
    content: 'Info';
}
div.notices.warning p {
    border-top: 30px solid rgba(217, 83, 79, 0.8);
    background: #FAE2E2;
}
div.notices.warning p:first-child:after {
    content: 'Warning';
}
div.notices.note p {
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA;
}
div.notices.note p:first-child:after {
    content: 'Note';
}
div.notices.tip p {
    border-top: 30px solid rgba(92, 184, 92, 0.8);
    background: #E6F9E6;
}
div.notices.tip p:first-child:after {
    content: 'Tip';
}


.btn {
	display: inline-block;
	padding: .5em 2em;
	margin-bottom: 0;
	font-size: .8em;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	font-weight: 500;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	  touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	background-image: none;
	border: 2px solid var(--PRIMARY-COLOR-500);
	color: var(--PRIMARY-COLOR-900);
	border-radius: 100px;
	-webkit-transition: all 0.15s;
	   -moz-transition: all 0.15s;
	        transition: all 0.15s;
}

.btn-cta {
	border: 2px solid var(--PRIMARY-COLOR-500);
    color: var(--PRIMARY-COLOR-100);
	background: var(--PRIMARY-COLOR-900);
}

.btn-icon {
	padding: .5em 1em .5em 2em;
}

.pulse {
	-webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    border-radius: 500px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
	-webkit-transition: .2s;
	   -moz-transition: .2s;
			transition: .2s;
}

@keyframes pulse {
	0% {
	    -webkit-box-shadow: 0 0 0 0 var(--PRIMARY-COLOR-500);
	    box-shadow: 0 0 0 0 var(--PRIMARY-COLOR-500);
	}

	70% {
	    -webkit-box-shadow: 0 0 0 1em var(--PRIMARY-COLOR-100);
	    box-shadow: 0 0 0 .25em var(--PRIMARY-COLOR-100);
	}

	100% {
	    -webkit-box-shadow: 0 0 0 0 var(--PRIMARY-COLOR-100);
	    box-shadow: 0 0 0 0 var(--PRIMARY-COLOR-100);
	}
}

.btn:focus {
  /*outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;*/
  outline: none !important;
}

.btn:hover,
.btn:focus {
  text-decoration: none;
  border-color: var(--PRIMARY-COLOR-300);
  color: var(--PRIMARY-COLOR-500);
}

	.btn .icon {
		margin-left: .75em;
	}

/* anchors */

.anchor {
	color: var(--PRIMARY-COLOR-700);
	font-size: 0.5em;
	cursor:pointer;
	visibility:hidden;
	margin-left: 0.5em;
	position: absolute;
	margin-top:0.1em;
}

h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
  visibility:visible;
}

p {
    margin: 1rem 0;
}

figcaption h4 {
    font-weight: 300 !important;
    opacity: .85;
    font-size: 1em;
    text-align: center;
    margin-top: -1.5em;
}

.select-style {
    border: 0;
    width: 150px;
    border-radius: 0px;
    overflow: hidden;
    display: inline-flex;
}

.select-style svg {
    fill: #ccc;
    width: 14px;
    height: 14px;
    pointer-events: none;
    margin: auto;
}

.select-style svg:hover {
  fill: #e6e6e6;
}

.select-style select {
    padding: 0;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    margin: auto;
    margin-left: 0px;
    margin-right: -20px;
}

.select-style select:focus {
    outline: none;
}

.select-style :hover {
    cursor:  pointer;
}

/* attachments shortcode */

section.attachments {
    margin: 2rem 0;
    position: relative;
}

section.attachments label {
    font-weight: 400;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
}

section.attachments .attachments-files {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
}

section.attachments.orange label {
    color: #fff;
    background: #F0B37E;
}

section.attachments.orange .attachments-files {
    background: #FFF2DB;
}

section.attachments.green label {
    color: #fff;
    background: rgba(92, 184, 92, 0.8);
}

section.attachments.green .attachments-files {
    background: #E6F9E6;
}

section.attachments.blue label {
    color: #fff;
    background: #6AB0DE;
}

section.attachments.blue .attachments-files {
    background: #E7F2FA;
}

section.attachments.grey label {
    color: #fff;
    background: #505d65;
}

section.attachments.grey .attachments-files {
    background: #f4f4f4;
}

/* Children shortcode */

/* Children shortcode */
.children p {
    font-size: small;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom:  0px;
    padding-bottom: 0px;
}
.children-li p {
    font-size: small;
    font-style: italic;

}
.children-h2 p, .children-h3 p {
    font-size: small;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom:  0px;
    padding-bottom: 0px;
}
.children h3,.children h2 {
    margin-bottom: 0px;
    margin-top: 5px;
}

pre {
    border: 2px dashed var(--PRIMARY-COLOR-300);
    border-radius: 20px;
    position: relative;
    padding: 20px;
    line-height: 1.3;
    background: var(--PRIMARY-COLOR-100);
    overflow: visible;
    margin: 2.5em auto 2em;
	white-space: normal;
	word-wrap: normal;
}

    pre:before {
        content: "FIELDWORK";
        position: absolute;
        font-size: 12px;
        padding: 3px 6px;
        top: -12px;
        left: 18px;
        font-weight: bold;
        background: var(--PRIMARY-COLOR-300);
        border-radius: 8px;
        color: var(--PRIMARY-COLOR-900);
    }

	code {
		background: var(--PRIMARY-COLOR-100);
		color: var(--PRIMARY-COLOR-900);
	    padding: .25em .5em;
	    border-radius: 4px;
	}

	pre code {
		font-size: .8em;
		padding: 0;
		font-family: var(--sans-serif);
	}

hr {
	border: none;
    border-bottom: 4px solid var(--PRIMARY-COLOR-300);
	margin: 0;
}
.page-title {
    margin-top: -25px;
    padding: 25px;
    float: left;
    clear: both;
    background: #9c6fb6;
    color: #fff;
}
#body a.anchor-link {
    color: #ccc;
}
#body a.anchor-link:hover {
    color: #9c6fb6;
}
#body-inner .tabs-wrapper.ui-theme-badges {
    background: #1d1f21;
}
#body-inner .tabs-wrapper.ui-theme-badges .tabs-nav li {
    font-size: 0.9rem;
    text-transform: uppercase;
}
#body-inner .tabs-wrapper.ui-theme-badges .tabs-nav li a {
    background: #35393c;
}
#body-inner .tabs-wrapper.ui-theme-badges .tabs-nav li.current a {
    background: #4d5257;
}

.tabs-wrapper pre {
    margin: 1rem 0;
    border: 0;
    padding: 0;
    background: inherit;
}
table {
    border: 1px solid #eaeaea;
    table-layout: auto;
}
th {
    background: #f7f7f7;
    padding: 0.5rem;
}
td {
    padding: 0.5rem;
    border: 1px solid #eaeaea;
}
.button {
    background: #9c6fb6;
    color: #fff;
    box-shadow: 0 3px 0 #00a5d4;
}
.button:hover {
    background: #00a5d4;
    box-shadow: 0 3px 0 #008db6;
    color: #fff;
}
.button:active {
    box-shadow: 0 1px 0 #008db6;
}
.button-secondary {
    background: #F8B450;
    color: #fff;
    box-shadow: 0 3px 0 #f7a733;
}
.button-secondary:hover {
    background: #f7a733;
    box-shadow: 0 3px 0 #f69b15;
    color: #fff;
}
.button-secondary:active {
    box-shadow: 0 1px 0 #f69b15;
}
.bullets {
    margin: 1.7rem 0;
    margin-left: -0.85rem;
    margin-right: -0.85rem;
    overflow: auto;
}
.bullet {
    float: left;
    padding: 0 0.85rem;
}
.two-column-bullet {
    width: 50%;
}
@media only all and (max-width: 47.938em) {
    .two-column-bullet {
        width: 100%;
    }
}
.three-column-bullet {
    width: 33.33333%;
}
@media only all and (max-width: 47.938em) {
    .three-column-bullet {
        width: 100%;
    }
}
.four-column-bullet {
    width: 25%;
}
@media only all and (max-width: 47.938em) {
    .four-column-bullet {
        width: 100%;
    }
}
.bullet-icon {
    float: left;
    background: #9c6fb6;
    padding: 0.875rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1.75rem;
    text-align: center;
}
.bullet-icon-1 {
    background: #9c6fb6;
}
.bullet-icon-2 {
    background: #00f3d8;
}
.bullet-icon-3 {
    background: #e6f300;
}
.bullet-content {
    margin-left: 4.55rem;
}
.tooltipped {
    position: relative;
}
.tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent;
}
.tooltipped:hover:before, .tooltipped:hover:after, .tooltipped:active:before, .tooltipped:active:after, .tooltipped:focus:before, .tooltipped:focus:after {
    display: inline-block;
    text-decoration: none;
}
.tooltipped-s:after, .tooltipped-se:after, .tooltipped-sw:after {
    top: 100%;
    right: 50%;
    margin-top: 5px;
}
.tooltipped-s:before, .tooltipped-se:before, .tooltipped-sw:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-se:after {
    right: auto;
    left: 50%;
    margin-left: -15px;
}
.tooltipped-sw:after {
    margin-right: -15px;
}
.tooltipped-n:after, .tooltipped-ne:after, .tooltipped-nw:after {
    right: 50%;
    bottom: 100%;
    margin-bottom: 5px;
}
.tooltipped-n:before, .tooltipped-ne:before, .tooltipped-nw:before {
    top: -5px;
    right: 50%;
    bottom: auto;
    margin-right: -5px;
    border-top-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-ne:after {
    right: auto;
    left: 50%;
    margin-left: -15px;
}
.tooltipped-nw:after {
    margin-right: -15px;
}
.tooltipped-s:after, .tooltipped-n:after {
    transform: translateX(50%);
}
.tooltipped-w:after {
    right: 100%;
    bottom: 50%;
    margin-right: 5px;
    transform: translateY(50%);
}
.tooltipped-w:before {
    top: 50%;
    bottom: 50%;
    left: -5px;
    margin-top: -5px;
    border-left-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-e:after {
    bottom: 50%;
    left: 100%;
    margin-left: 5px;
    transform: translateY(50%);
}
.tooltipped-e:before {
    top: 50%;
    right: -5px;
    bottom: 50%;
    margin-top: -5px;
    border-right-color: rgba(0, 0, 0, 0.8);
}
.highlightable {
    overflow: auto;
    position: relative;
}
.hljs::selection, .hljs span::selection {
    background: #b7b7b7;
}
.lightbox-active #body {
    overflow: visible;
}
.lightbox-active #body .padding {
    overflow: visible;
}
#github-contrib i {
    vertical-align: middle;
}

#top-bar {
	margin: 0 auto;
	font-size: .8em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 9999;
	height: 40px;
}

	#top-bar .far {
		font-size: 28px;
		text-align: center;
		width: 30px;
		height: 30px;
		line-height: 30px;
		display: inline-block;
		-webkit-transition: .25s ease-in-out;
		   -moz-transition: .25s ease-in-out;
		        transition: .25s ease-in-out;
	}

	#top-bar .fa-times, #top-bar .fa-bars {
		display: none;
	}

	#sidebar-toggle-span {
		display: none;
		position: fixed;
		left: 280px;
		top: 40px;
		background: white;
		border-radius: 100px;
		margin: 5px;
		box-shadow: 0px 0px 7px rgba(0,0,20,.25);
		-webkit-transition: .25s ease-in-out;
		   -moz-transition: .25s ease-in-out;
		        transition: .25s ease-in-out;
	}

		#sidebar-toggle-span .far {
			font-size: 18px;
		}

	#top-bar #sidebar-toggle-span a:after {
		display: none !important;
	}

	.sidebar-hidden #sidebar-toggle-span {
		left:  calc(3rem - 20px);
	}

	.sidebar-hidden #sidebar-toggle-span .fa-chevron-left {
		transform: rotate(90deg);
	}

#body #breadcrumbs {
    height: auto;
    margin: 0 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    float: left;
}

#body #breadcrumbs span {
    padding: 0 0.1rem;
}

	.sidebar-hidden #body {
		margin-left: 3rem;
	}

#sidebar .fa-history {
	margin-right: .75rem;
}

@media only all and (max-width: 59.938em) {

	#sidebar {
        width: 230px;
		left: 0;
		right: auto;
    }

	#sidebar-toggle-span {
		left: 210px;
	}

    #body {
        margin-left: 230px;
    }

}

@media only all and (max-width: 47.938em) {

	#sidebar {
        width: calc(100vw - 40px);
        right: -100vw;
		left: auto;
		font-size: .8em;
    }

	#sidebar-toggle-span {
		position: relative;
		display:inline-block;
		top: auto;
		left: auto;
		box-shadow: none;
	}

	.sidebar-hidden #sidebar {
		right: 0;
		z-index: 99999;
		box-shadow: 0px -10px 40px rgba(0,0,0,.3);
	}

	.sidebar-hidden #sidebar-toggle-span {
		left: auto;
	}

	#top-bar .fa-bars {
		display: inline-block;
	}

	#top-bar .fa-chevron-left {
		display: none;
	}

	.sidebar-hidden #top-bar .fa-bars {
		display: none !important;
	}

	.sidebar-hidden #top-bar .fa-times {
		display: inline-block !important;
	}

    #body {
        margin-left: 0;
        width: 100%;
    }

	#body .padding {
		box-shadow: none;
	}

    .sidebar-hidden #body {
		margin-left: 0;
    }

    .sidebar-hidden #overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        background: rgba(255,255,255, 0.85);
        cursor: pointer;
	}
}
