body {
    /* Set the Pink Theme Colors */
    --PRIMARY-COLOR-100: #fff9f6;
    --PRIMARY-COLOR-300: #ffe9db;
    --PRIMARY-COLOR-500: #f6b52b;
    --PRIMARY-COLOR-700: #BD8A00;
    --PRIMARY-COLOR-900: #4e3f00;
}
