:root{
    /* Set the Purple Theme Colors */
    --PRIMARY-COLOR-100: #FFE8FE;
    --PRIMARY-COLOR-300: #EFB3ED;
    --PRIMARY-COLOR-500: #92278F;
    --PRIMARY-COLOR-700: #7E067B;
    --PRIMARY-COLOR-900: #360034;
}
