body {
    /* Set the Green Theme Colors */
    --PRIMARY-COLOR-100: #e9fff6;
    --PRIMARY-COLOR-300: #a4f4d8;
    --PRIMARY-COLOR-500: #34cc6d;
    --PRIMARY-COLOR-700: #0aaf28;
    --PRIMARY-COLOR-900: #00660f;
}
