:root{
    /* Set the Red Theme Colors */
    --PRIMARY-COLOR-100: #FFF0EB;
    --PRIMARY-COLOR-300: #FFCEBE;
    --PRIMARY-COLOR-500: #F1592A;
    --PRIMARY-COLOR-700: #BC2C00;
    --PRIMARY-COLOR-900: #581500;
}
