:root{
    /* Set the Blue Theme Colors */
    --PRIMARY-COLOR-100: #E0F2FF;
    --PRIMARY-COLOR-300: #B1E0FF;
    --PRIMARY-COLOR-500: #0E76BD;
    --PRIMARY-COLOR-700: #00558E;
    --PRIMARY-COLOR-900: #002138;
}
