:root{
    /* Set the Green Theme Colors */
    --PRIMARY-COLOR-100: #EBFFEE;
    --PRIMARY-COLOR-300: #ADEFB5;
    --PRIMARY-COLOR-500: #3AB54A;
    --PRIMARY-COLOR-700: #0B8B1B;
    --PRIMARY-COLOR-900: #003B08;
}
