:root{
    /* Set the Pink Theme Colors */
    --PRIMARY-COLOR-100: #FFEDF5;
    --PRIMARY-COLOR-300: #FFA8CF;
    --PRIMARY-COLOR-500: #ED207B;
    --PRIMARY-COLOR-700: #B90052;
    --PRIMARY-COLOR-900: #3C001B;
}
