<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>_index.md</key>
			<dict>
				<key>lastModification</key>
				<real>582147607.56483102</real>
				<key>version</key>
				<dict>
					<key>ac9e8b5b9a0a1458dc494ace51a217aaa6d7b9369b418d6f1571dcd59285486f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>orientation-overview.md</key>
			<dict>
				<key>lastModification</key>
				<real>582147607.56483495</real>
				<key>version</key>
				<dict>
					<key>ac9e8b5b9a0a1458dc494ace51a217aaa6d7b9369b418d6f1571dcd59285486f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>tell-us-about-yourself.md</key>
			<dict>
				<key>lastModification</key>
				<real>582147607.56483495</real>
				<key>version</key>
				<dict>
					<key>ac9e8b5b9a0a1458dc494ace51a217aaa6d7b9369b418d6f1571dcd59285486f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>the-goal.md</key>
			<dict>
				<key>lastModification</key>
				<real>582147607.564834</real>
				<key>version</key>
				<dict>
					<key>ac9e8b5b9a0a1458dc494ace51a217aaa6d7b9369b418d6f1571dcd59285486f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>the-how.md</key>
			<dict>
				<key>lastModification</key>
				<real>582147607.564834</real>
				<key>version</key>
				<dict>
					<key>ac9e8b5b9a0a1458dc494ace51a217aaa6d7b9369b418d6f1571dcd59285486f</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>_index.md</string>
		</array>
		<array>
			<string>the-goal.md</string>
		</array>
		<array>
			<string>the-how.md</string>
		</array>
		<array>
			<string>orientation-overview.md</string>
		</array>
		<array>
			<string>tell-us-about-yourself.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ac9e8b5b9a0a1458dc494ace51a217aaa6d7b9369b418d6f1571dcd59285486f</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
